<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h1 class="title has-text-black is-size-2 is-uppercase has-text-weight-bold">About Us</h1>
                    <br>
                    <br>
                    <br>
                    <h3 class="subtitle has-text-black-bis is-uppercase has-text-weight-medium is-marginless">Specializing in running the most reliable validator nodes. Valador provides early stage investment, advisory and localization strategy.
                    </h3>
                    <hr>
                    <a href="{{site.url}}{{site.baseurl}}/#services"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Services</a>
                </div>

            </div>
        </div>
</section>
