<section class="hero is-fullheight has-text-centered has-background-white-ter" id="services">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                <br>
                <br>
                <h1 class="title has-text-black is-size-2 is-uppercase has-text-weight-bold">Validation</h1>
                <br>
                <h3 class="subtitle has-text-black-bis is-uppercase has-text-weight-medium is-marginless">We provide validation services for dPoS networks. Combined top tier cloud computing services such as AWS & Google Cloud with valador's highly skilled experts, your blockchain will be secure and experience no down time.  </h3>

                <br>
                <br>
                <h1 class="title has-text-black is-size-2 is-uppercase has-text-weight-bold">Advisory & Funding</h1>
                <br>
                <h3 class="subtitle has-text-black-bis is-uppercase has-text-weight-medium is-marginless">Partnering up with the leading investors & experts in the industry, Valador can provide funding and direction your blockchain needs to be successful
                </h3>

                <br>
                <br>
                <h1 class="title has-text-black is-size-2 is-uppercase has-text-weight-bold">Localization</h1>
                <br>
                <h3 class="subtitle has-text-black-bis is-uppercase has-text-weight-medium is-marginless">We specialize in reliable community management and brand localization for your services in the U.S. and Asia</h3>
                </div>
            </div>
        </div>
</section>
